" vi: filetype=vim

" Load all lua files
lua require('tap')
luafile ~/.config/nvim/lua/tap/settings.lua
luafile ~/.config/nvim/lua/tap/colours.lua
luafile ~/.config/nvim/lua/tap/auto.lua
luafile ~/.config/nvim/lua/tap/keymap.lua

if filereadable(expand('~/.vimrc.local'))
  source ~/.vimrc.local
endif
