-- vi: filetype=lua

require('tap.plugins')
require('tap.settings')
require('tap.colours')
require('tap.auto')
require('tap.keymap')

{{- if .neovim_nightly_native_lsp }}
require("tap.lsp")
{{- end }}

vim.cmd [[
if filereadable(expand('~/.vimrc.local'))
  source ~/.vimrc.local
endif
]]
