// vim: ft=jsonc
{
  "$schema": "https://opencode.ai/config.json",
  "autoupdate": false,
  "share": "disabled",
  "model": "opencode/glm-5.3",
  "small_model": "opencode/glm-5.3-flash",
  "mcp": {},
}
