# vim: filetype=zsh
export XDG_CONFIG_HOME=$HOME/.config
export XDG_CACHE_HOME=$HOME/.cache
export XDG_DATA_HOME=$HOME/.local/share

export ZSH_HOME=~/.config/zsh
export ZSH_CACHE_DIR=~/.cache/zsh

export SHELL=$HOME/.nix-profile/bin/zsh
export VISUAL=nvim
export EDITOR=nvim
export MANPAGER="sh -c 'col -bx | bat -l man -p'"

function prepend_path {
  for p in $@; do
    if (test -d $p); then
      export PATH="$p:$PATH"
    fi
  done
}

# executable search path (last to first order)
prepend_path "/usr/local/bin" "/usr/local/sbin"

# Setup DEFAULT_USER for the theme
USER=`whoami`
if [ $USER = '{{ .chezmoi.username }}' ]; then
    DEFAULT_USER=$USER
fi

SRC_FILES=(
  $HOME/.nix-profile/etc/profile.d/nix.sh
  $HOME/.nix-profile/etc/profile.d/hm-session-vars.sh
)
for p in $SRC_FILES; do
  if (test -e $p); then
    source $p
  fi
done

# ZSH completions
for profile in ''${(z)NIX_PROFILES}; do
  fpath+=($profile/share/zsh/site-functions $profile/share/zsh/$ZSH_VERSION/functions $profile/share/zsh/vendor-completions)
done

#{{- if ne "macOS" .ostype }}
# Fix nix locale errors
export LOCALE_ARCHIVE=/usr/lib/locale/locale-archive
export LANGUAGE=en_GB.UTF-8
export LANG=en_GB.UTF-8
export LC_ALL=en_GB.UTF-8
#{{- end }}

# Disables scroll lock shortcut (Ctrl+s)
stty -ixon
KEYTIMEOUT=1

# fzf defaults
# TODO: Fix this properly!
#{{- if ne "macOS" .ostype }}
export FZF_TMUX_OPTS="-d 40%"
#{{- end }}

export FZF_CTRL_T_OPTS="\
  --preview 'bat --style=numbers --color=always {} | head -500'
  --bind='?:toggle-preview'
"
export FZF_DEFAULT_OPTS="\
  --layout reverse \
  --color bg+:0,hl:0,hl+:4,fg:7,fg+:15,header:4,info:4,marker:4,pointer:4,prompt:4,spinner:4 \
  --bind ctrl-u:preview-half-page-up,ctrl-d:preview-half-page-down
"

# Prevent FFP opening multiple splits
export FPP_DISABLE_SPLIT=1

# tmuxp thing
export DISABLE_AUTO_TITLE='true'

zstyle :omz:plugins:ssh-agent agent-forwarding on
zstyle :omz:plugins:ssh-agent lazy true
zstyle :omz:plugins:ssh-agent lifetime 12h

export ZSH_TMUX_AUTOQUIT="false"
export ZSH_TMUX_AUTOCONNECT="false"

# Setup ls colors
eval `dircolors $HOME/.dir_colors`

source ~/.nix-profile/share/antigen/antigen.zsh

# patches required for modules
antigen bundle $ZSH_HOME/patches

antigen bundle zsh-users/zsh-autosuggestions
antigen bundle zsh-users/zsh-completions
antigen bundle zsh-users/zsh-syntax-highlighting

antigen bundle robbyrussell/oh-my-zsh lib/completion.zsh
antigen bundle robbyrussell/oh-my-zsh lib/key-bindings.zsh
antigen bundle robbyrussell/oh-my-zsh lib/theme-and-appearance.zsh
antigen bundle robbyrussell/oh-my-zsh plugins/asdf
antigen bundle robbyrussell/oh-my-zsh plugins/common-aliases
antigen bundle robbyrussell/oh-my-zsh plugins/docker
antigen bundle robbyrussell/oh-my-zsh plugins/fzf
antigen bundle robbyrussell/oh-my-zsh plugins/kubectl
antigen bundle robbyrussell/oh-my-zsh plugins/ssh-agent
antigen bundle robbyrussell/oh-my-zsh plugins/terraform
antigen bundle robbyrussell/oh-my-zsh plugins/tmux
antigen bundle robbyrussell/oh-my-zsh plugins/z

antigen theme romkatv/powerlevel10k

# personal settings, override modules
antigen bundle $ZSH_CACHE_DIR/completions
antigen bundle $ZSH_HOME/lib
antigen bundle $ZSH_HOME/functions

antigen apply

sourceOPSession

# Re-export PATH again after nix with ~/.local/bin at the front to allow overrides
prepend_path "$HOME/.local/bin" "$HOME/.gem/ruby/2.7.0/bin"

# Need to run this after oh-my-zsh lib/completion as it resets it
# for the benefit of macOS
zstyle ':completion:*' list-colors "${(@s.:.)LS_COLORS}"

LOCAL_RC=~/.zshrc.local
if [ -e $LOCAL_RC ]; then
  source $LOCAL_RC
fi

# To customize prompt, run `p10k configure` or edit ~/.p10k.zsh.
[[ ! -f ~/.p10k.zsh ]] || source ~/.p10k.zsh
