# vim:ft=gitconfig
[user]
  email = {{ .email.work }}
# {{- if ne "" .github_enterprise_host }}
[hub]
  host = {{ .github_enterprise_host }}
# {{- end }}

[alias]
  ps-j5s = "!f() { branch=$(git rev-parse --abbrev-ref HEAD); git ps origin HEAD:${branch}-j5s-build; }; f"
  psf-j5s = "!f() { branch=$(git rev-parse --abbrev-ref HEAD); git psf origin HEAD:${branch}-j5s-build; }; f"
