# vi: filetype=zsh
export ZSH_HOME=~/.config/zsh

export VISUAL=nvim
export EDITOR=nvim
export MANPAGER="sh -c 'col -bx | bat -l man -p'"

# executable search path (last to first order)
PATHS=(
  /usr/local/bin
  /usr/local/sbin
)
for p in $PATHS; do
  if (test -d $p); then
    export PATH="$p:$PATH"
  fi
done

# Setup DEFAULT_USER for the theme
USER=`whoami`
if [ $USER = '{{ .chezmoi.username }}' ]; then
    DEFAULT_USER=$USER
fi

SRC_FILES=(
  $HOME/.nix-profile/etc/profile.d/nix.sh
  $HOME/.nix-profile/etc/profile.d/hm-session-vars.sh
)
for p in $SRC_FILES; do
  if (test -e $p); then
    source $p
  fi
done

{{- if ne "macOS" .ostype }}
# Patch lib path to include nix's gcc library location
export LD_LIBRARY_PATH=$(nix eval --raw nixpkgs.stdenv.cc.cc.lib)/lib:$LD_LIBRARY_PATH
{{- end }}

# ZSH completions
for profile in ''${(z)NIX_PROFILES}; do
  fpath+=($profile/share/zsh/site-functions $profile/share/zsh/$ZSH_VERSION/functions $profile/share/zsh/vendor-completions)
done

{{- if ne "macOS" .ostype }}
# Fix nix locale errors
export LOCALE_ARCHIVE=/usr/lib/locale/locale-archive
export LANGUAGE=en_GB.UTF-8
export LANG=en_GB.UTF-8
export LC_ALL=en_GB.UTF-8
{{- end }}

# Disables scroll lock shortcut (Ctrl+s)
stty -ixon
KEYTIMEOUT=1

# fzf defaults
export FZF_DEFAULT_COMMAND="ag --nocolor -g ''"
export FZF_CTRL_T_COMMAND="$FZF_DEFAULT_COMMAND"
export FZF_TMUX=1
export FZF_TMUX_HEIGHT="40%"
export FZF_LEGACY_KEYBINDINGS=0

export FZF_CTRL_T_OPTS="\
  --preview 'bat --style=numbers --color=always {} | head -500'
  --bind='?:toggle-preview'
"
export FZF_DEFAULT_OPTS="\
  --layout reverse \
  --color bg+:0,hl:0,hl+:4,fg:7,fg+:15,header:4,info:4,marker:4,pointer:4,prompt:4,spinner:4 \
"

# Prevent FFP opening multiple splits
export FPP_DISABLE_SPLIT=1

# tmuxp thing
export DISABLE_AUTO_TITLE='true'

zstyle :omz:plugins:ssh-agent agent-forwarding on
zstyle :omz:plugins:ssh-agent identities ""
zstyle :omz:plugins:ssh-agent lifetime 1h

export ZSH_TMUX_AUTOSTART="true"
export ZSH_TMUX_AUTOQUIT="false"
export ZSH_TMUX_AUTOCONNECT="false"

# Setup ls colors
eval `dircolors $HOME/.dir_colors`

source ~/.nix-profile/share/antigen/antigen.zsh

# moved ahead of oh-my-zsh, need aliases to run ahead of it
antigen bundle $ZSH_HOME/completions
antigen bundle $ZSH_HOME/lib
antigen bundle $ZSH_HOME/functions

antigen bundle zsh-users/zsh-autosuggestions
antigen bundle zsh-users/zsh-completions
antigen bundle zsh-users/zsh-syntax-highlighting

antigen bundle robbyrussell/oh-my-zsh lib/completion.zsh
antigen bundle robbyrussell/oh-my-zsh lib/key-bindings.zsh
antigen bundle robbyrussell/oh-my-zsh lib/theme-and-appearance.zsh
antigen bundle robbyrussell/oh-my-zsh plugins/asdf
antigen bundle robbyrussell/oh-my-zsh plugins/common-aliases
antigen bundle robbyrussell/oh-my-zsh plugins/fzf
antigen bundle robbyrussell/oh-my-zsh plugins/ssh-agent
antigen bundle robbyrussell/oh-my-zsh plugins/tmux
antigen bundle robbyrussell/oh-my-zsh plugins/z

antigen theme $ZSH_HOME themes/kipper.zsh-theme

antigen apply

sourceOPSession

# Re-export PATH again after nix with ~/.local/bin at the front to allow overrides
export PATH="$HOME/.local/bin:$PATH"

# Need to run this after oh-my-zsh lib/completion as it resets it
# for the benefit of macOS
zstyle ':completion:*' list-colors "${(@s.:.)LS_COLORS}"

LOCAL_RC=~/.zshrc.local
if [ -e $LOCAL_RC ]; then
  source $LOCAL_RC
fi
