#!/bin/sh
# vi: filetype=sh

{{- if contains "microsoft" .chezmoi.kernel.osrelease | not }}
# Exit when not WSL
exit 0
{{- end }}

echo "This is WSL, setting up alacritty config"

CONFIG_LOCATION="/mnt/c/Users/Thomas/AppData/Roaming"
ALACRITTY_CONFIG_LOCATION="$CONFIG_LOCATION/alacritty"
ALACRITTY_CONFIG_FILENAME="alacritty.yml"

if [ ! -d "$CONFIG_LOCATION" ]; then
  echo "Can't find $CONFIG_LOCATION, exiting"
  exit 1
fi

mkdir -p "$ALACRITTY_CONFIG_LOCATION"
chezmoi cat ~/.config/alacritty/alacritty.yml > "$ALACRITTY_CONFIG_LOCATION/$ALACRITTY_CONFIG_FILENAME"
