# vim:ft=sshconfig
AddKeysToAgent yes

Host pi
  user tpayne
  hostname raspberrypi.{{ .home_network_tld }}

Host truenas
  user tpayne
  hostname truenas.{{ .home_network_tld }}
  IdentityFile ~/.ssh/truenas
