# vim:ft=sshconfig
AddKeysToAgent yes

Host pi
  ForwardAgent yes
  user tpayne
  hostname raspberrypi.{{ .home_network_tld }}

Host truenas
  ForwardAgent yes
  user tpayne
  hostname truenas.{{ .home_network_tld }}
