@import "mocha.css";

/* Global */
* {
  font-family: "JetBrainsMono Nerd Font", monospace;
  font-size: 16px;
  border: none;
  border-radius: 0;
  min-height: 0;
  min-width: 0;
}

/* Bar background */
window#waybar {
  transition-property: background-color;
  transition-duration: 0.5s;
  background-color: @crust;
}

/* Workspaces */
#workspaces button {
  padding: 0.3rem 0.6rem;
  margin: 0.4rem 0.25rem;
  border-radius: 6px;
  background-color: @base;
  color: @text;
}

#workspaces button:hover {
  color: @base;
  background-color: @text;
}

#workspaces button.active {
  background-color: @base;
  color: @blue;
}

#workspaces button.urgent {
  background-color: @base;
  color: @red;
}

/* All modules via container trick */
#clock,
#pulseaudio,
#network,
#battery,
#custom-logo,
#custom-power,
#custom-spotify,
#custom-notification,
#cpu,
#tray,
#memory,
#window {
  padding: 0.3rem 0.6rem;
  margin: 0.4rem 0.25rem;
  border-radius: 6px;
  background-color: @base;
}

/* Separator */
#custom-sep {
  padding: 0;
  color: @surface0;
}

/* Hide empty window module */
window#waybar.empty #window {
  background-color: transparent;
}

/* Module colours */
#cpu {
  color: @teal;
}

#memory {
  color: @mauve;
}

#clock {
  color: @sapphire;
}

#clock.simpleclock {
  color: @blue;
}

#window {
  color: @text;
}

#pulseaudio {
  color: @lavender;
}

#pulseaudio.muted {
  color: @subtext0;
}

#custom-logo {
  color: @blue;
}

#custom-power {
  color: @red;
}

/* Tooltip */
tooltip {
  background-color: @mantle;
  border: 2px solid @blue;
  color: @text;
}
