font-family = "{{ .terminal_font }}"
font-family = "SF Symbols"
font-size   = {{ .terminal_font_size }}

theme = "catppuccin-mocha"

# { to swap tmux tab
keybind = shift+super+left_bracket=text:\x02\x70
# } to swap tmux tab
keybind = shift+super+right_bracket=text:\x02\x6E
