#######
# env #
#######
{{- if eq "crostini" .ostype }}
# Force crostini to use x11 as 'auto' uses 'wayland' which seemingly isn't supported
# by crostini's compositor (sommelier). Using wayland we get the following error
# [glfw error 65544]: Wayland: Failed to find xdg-shell in your compositor
linux_display_server x11
{{- end }}

##########
# Colors #
##########
include colors/theme.conf

#########
# Fonts #
#########
font_family {{ .terminal_font }}
font_size   {{ .terminal_font_size }}

#############
# Behaviour #
#############
allow_remote_control                yes
listen_on 			    unix:/tmp/mykitty
cursor_text_color                   background
cursor_blink_interval               0
disable_ligatures                   cursor
scrollback_lines                    0
scrollback_pager_history_size       0
# Disable things like new tabs spawning
clear_all_shortcuts                 yes
{{- if eq "macOS" .ostype }}
macos_quit_when_last_window_closed  yes
macos_show_window_title_in          none
macos_titlebar_color                background
background_opacity                  0.95
{{- end }}

#####################
# Keyboard Mappings #
#####################
# Allow font resizing
map super+equal               change_font_size all +1.0
map super+minus               change_font_size all -1.0
# Renable copy after clearing all shortcuts
map super+c                   copy_to_clipboard
map ctrl+shift+c              copy_to_clipboard
# Renable paste after clearing all shortcuts
map super+v                   paste_from_clipboard
map ctrl+shift+v              paste_from_clipboard
# { to swap tmux tab
map shift+super+LEFT_BRACKET  send_text all \x02\x70
# } to swap tmux tab
map shift+super+RIGHT_BRACKET send_text all \x02\x6E
# Alt <- to jump back words (esc sequence)
map alt+left                  send_text all \x1b\x62
# Alt -> to jump forward words (esc sequence)
map alt+right                 send_text all \x1b\x66
