# vim:ft=zsh
#{{- if eq "wsl" .ostype }}
alias open='explorer.exe'
#{{- end }}

# override omz's common-aliases for ls with eza commands
alias ls='eza --group-directories-first --icons'

alias l='ls -lFh'                 #size,show type,human readable
alias la='ls -la'                 #long list,show almost all,show type,human readable
alias lr='ls -tRFh'               #sorted by date,recursive,show type,human readable
alias lt='ls -l --time modified'  #long list,sorted by date,show type,human readable
alias ll='ls -l'                  #long list
alias lg='ll --git'               #long list,with git
alias ldot='ls -ld .*'
alias lS='ls -1FS'
alias lart='ls -1Far --time modified'
alias lrt='ls -1Fr --time modified'
