{ pkgs, config, ... }:
{
  home.packages = with pkgs; [
    fd # telescope-file-browser
    ripgrep # telescope searching
    rnix-lsp # nix lsp & formatter
    shellcheck # shell script static analysis tool
  ];

  programs.neovim = {
    enable = true;
    viAlias = true;
    withNodeJs = true;
    extraConfig = ''
      luafile ${config.xdg.configHome}/nvim/init-lua.lua
    '';

    # <features.neovim_nightly>
    #{{- if (eq .features.neovim_nightly true) }} Neovim nightly
    package = pkgs.neovim-nightly;
    #{{- else }} Neovim Stable
    package = pkgs.unstable.neovim-unwrapped;
    #{{- end }} </features.neovim_nightly>
  };
}
