[Desktop Entry]
Name=Alacritty
Exec=WAYLAND_DISPLAY= {{ .chezmoi.homedir }}/.nix-profile/bin/alacritty
Terminal=false
Type=Application
Icon=alacritty
StartupWMClass=WAYLAND_DISPLAY= {{ .chezmoi.homedir }}/.nix-profile/bin/alacritty
Comment=A cross-platform, GPU enhanced terminal emulator
Categories=System;TerminalEmulator;
