[Desktop Entry]
Name=Alacritty
Exec={{ .chezmoi.homeDir }}/.nix-profile/bin/nixGLIntel {{ .chezmoi.homeDir }}/.nix-profile/bin/alacritty
Terminal=false
Type=Application
Icon={{ .chezmoi.homeDir }}/.local/share/icons/hicolor/256x256/alacritty.png
StartupWMClass={{ .chezmoi.homeDir }}/.nix-profile/bin/alacritty
Comment=A cross-platform, GPU enhanced terminal emulator
Categories=System;TerminalEmulator;
