[Desktop Entry]
Name=Ghostty
Exec={{ .chezmoi.homeDir }}/.nix-profile/bin/nixGLIntel {{ .chezmoi.homeDir }}/.nix-profile/bin/ghostty
Terminal=false
Type=Application
Icon={{ .chezmoi.homeDir }}/.local/share/icons/hicolor/512x512/apps/com.mitchellh.ghostty.png
StartupWMClass={{ .chezmoi.homeDir }}/.nix-profile/bin/ghostty
Comment=A cross-platform, GPU enhanced terminal emulator
Categories=System;TerminalEmulator;
