[Desktop Entry]
Name=Kitty
Exec={{ .chezmoi.homeDir }}/.nix-profile/bin/nixGLIntel {{ .chezmoi.homeDir }}/.nix-profile/bin/kitty
Terminal=false
Type=Application
Icon=kitty
StartupWMClass={{ .chezmoi.homeDir }}/.nix-profile/bin/kitty
Comment=A cross-platform, GPU enhanced terminal emulator
Categories=System;TerminalEmulator;
