[Desktop Entry]
Categories=Office
Comment=Knowledge base
Exec={{ .chezmoi.homeDir }}/.nix-profile/bin/obsidian %u
Icon=kitty
MimeType=x-scheme-handler/obsidian
Name=Obsidian
Type=Application
Version=1.4
