-- vi: filetype=lua
-- Improve scrolling performance with cursorline
vim.o.lazyredraw = true

-- Number of lines from vertical edge to start scrolling
vim.o.scrolloff = 4

-- Better terminal color support in neovim
vim.o.termguicolors = true

-- Better command options
vim.o.wildmode = 'longest:full,full'
vim.o.wildignorecase = true

-- Better split opening defaults
vim.o.splitbelow = true
vim.o.splitright = true

-- Better searching
vim.o.ignorecase = true
vim.o.smartcase = true

vim.o.swapfile = false
vim.o.hidden = true

-- Hide the default mode text (e.g. -- INSERT -- below the statusline)
vim.o.showmode = false
vim.o.spelllang = 'en'

-- Tab stuff
vim.o.tabstop = 4
vim.o.softtabstop = 2
vim.o.expandtab = true
vim.o.shiftwidth = 2

-- Better folding
vim.o.foldmethod = 'syntax'
vim.o.foldcolumn = '2'
vim.o.foldlevelstart = 99

--Decrease update time
vim.o.updatetime = 250

vim.wo.number = true
vim.wo.cursorline = true
vim.wo.colorcolumn = '80'
vim.wo.signcolumn="yes"

vim.g.mapleader = ","
vim.g.maplocalleader = "\\"

vim.g.netrw_liststyle = 3

{{- if eq "crostini" .ostype }}
-- Configure vim's other clipboard registers to use xsel (system clipboard)
vim.g.clipboard = {
    name = 'crostiniClipboard',
    copy = {["+"] = 'xsel --clipboard', ["*"] = 'xsel --clipboard'},
    paste = {["+"] = 'xsel --clipboard', ["*"] = 'xsel --clipboard'},
    cache_enabled = 1
}
{{- end }}
