# vim:ft=nix
{ pkgs, config, ... }:
{
  home.packages = with pkgs; [
    fd # telescope-file-browser
    go # needed to build jsonnet-language-server from mason.nvim
    ripgrep # telescope searching
    shellcheck # shell script static analysis tool
  ];

  programs.neovim = {
    enable = true;
    viAlias = true;
    withNodeJs = true;
    extraConfig = ''
      "{{- if eq "macOS" .ostype }}
      let g:sqlite_clib_path = '${pkgs.sqlite.out}/lib/libsqlite3.dylib'
      "{{- else }}
      let g:sqlite_clib_path = '${pkgs.sqlite.out}/lib/libsqlite3.so'
      "{{- end }}

      luafile ${config.xdg.configHome}/nvim/init-lua.lua
    '';

    # <features.neovim_nightly>
    #{{- if (eq .features.neovim_nightly true) }} Neovim nightly
    package = pkgs.neovim-nightly;
    #{{- else }} Neovim Stable
    package = pkgs.unstable.neovim-unwrapped;
    #{{- end }} </features.neovim_nightly>
  };
}
