# vi: filetype=nix
{ pkgs, ... }:

let
  unstable = import <nixpkgs-unstable> { config = pkgs.config; };
  comma = import ( pkgs.fetchFromGitHub {
      owner = "Shopify";
      repo = "comma";
      rev = "4a62ec17e20ce0e738a8e5126b4298a73903b468";
      sha256 = "0n5a3rnv9qnnsrl76kpi6dmaxmwj1mpdd2g0b4n1wfimqfaz6gi1";
  }) {};

  {{- if ne "macOS" .ostype }}
  unixPkgs = with pkgs; [
    nq  # linux queue utility
  ];
  {{- else }}
  unixPkgs = [];
  {{- end }}

  {{- if eq "macOS" .ostype }}
  darwinPkgs = with pkgs; [
    coreutils   # gnu utilities
    gnugrep     # gnu grep
    gnused      # gnu sed
    # reattach-to-user-namespace needed for MacOS when running programs within
    # tmux. This was the original problem
    # https://github.com/tmux/tmux/issues/600
    reattach-to-user-namespace
  ];
  {{- else }}
  darwinPkgs = [];
  {{- end }}

  {{- if eq "crostini" .ostype }}
  crostiniPkgs = with pkgs; [
    alacritty       # alacritty terminal
    kitty           # kitty terminal
    mesa_drivers    # GPU drivers for crostini
  ];
  {{- else }}
  crostiniPkgs = [];
  {{- end }}

  {{- if .neovim_nightly }}
  neovimNightlyPkgs = with pkgs; [
    {{- if ne "macOS" .ostype }}
    gcc   # Needed more modern version (not too sure why) for nvim-treesitter - not needed and breaks things on MacOS
    {{- end }}
    ruby  # Needed to locally build nvcode treesitter color schemes
  ];
  {{- else }}
  neovimNightlyPkgs = [];
  {{- end }}
in

{
  # Let Home Manager install and manage itself.
  programs.home-manager.enable = true;

  # Home Manager needs a bit of information about you and the
  # paths it should manage.
  home.username = "{{ .chezmoi.username }}";
  home.homeDirectory = "{{ .chezmoi.homedir }}";

  # This value determines the Home Manager release that your
  # configuration is compatible with. This helps avoid breakage
  # when a new Home Manager release introduces backwards
  # incompatible changes.
  #
  # You can update Home Manager without changing this value. See
  # the Home Manager release notes for a list of state version
  # changes in each release.
  home.stateVersion = "20.09";

  {{- if ne "macOS" .ostype }}
  # Fix I/O error with XML write - root cause unknown
  xdg.mime.enable = false;
  {{- end }}

  home.packages = with pkgs; [
    antigen                       # zsh plugin manager
    bat                           # colourised cat
    chezmoi                       # dotfile manager
    comma                         # utility for trying nix executables
    ctop                          # container top process tool
    curl                          # curl...
    fpp                           # facebook picker
    fzf                           # fuzzy-finder
    gawk                          # gnu awk
    gitAndTools.diff-so-fancy     # fancy git diffs
    git                           # git...
    gnupg                         # gnu pretty good privacy
    gti                           # alias for git, with a gti
    htop                          # pretty top
    inetutils                     # network utils, like traceroute, etc.
    jq                            # json cli processor
    kubectx                       # nicer interaction with k8s cli
    mosh                          # better ssh
    ncdu                          # disk usage tool
    nix-zsh-completions           # zsh completions
    nodejs                        # nodejs...
    openssh                       # ssh
    python                        # python27
    python27Packages.pip          # pip for python27
    python3                       # python38
    python38Packages.pip          # pip for python38
    ripgrep                       # rg searching
    silver-searcher               # ag searching
    screenfetch                   # pretty print of system info
    tmuxp                         # declaritive tmux session launcher
    tree                          # print directory structure
    up                            # utlimate plumber - unix pipes tool
    unixtools.watch               # run command periodically
    vim                           # vim
    watchman                      # watch files and run command on change
    wget                          # fetch things from urls
    yarn                          # JS package manager
    zsh                           # shell

    # Unstable Packages
    unstable._1password   # 1password version is quite old - unstable is much newer
    unstable.cargo        # needed newer version of rust to compile vim-clap binary
    unstable.tmux         # terminal multiplexer
  ] ++ darwinPkgs ++ crostiniPkgs ++ unixPkgs ++ neovimNightlyPkgs;

  {{- if .neovim_nightly }}
  # Neovim nightly
  nixpkgs.overlays = [
    (import (builtins.fetchTarball {
      url = https://github.com/nix-community/neovim-nightly-overlay/archive/master.tar.gz;
    }))
  ];
  {{- end }}

  programs.neovim = {
    enable = true;
    viAlias = true;
    withNodeJs = true;

    {{- if .neovim_nightly }}
    # Neovim nightly
    package = pkgs.neovim-nightly;
    {{- end }}
  };
}
