-- vim:ft=lua

return {
  {
    'NickvanDyke/opencode.nvim',
    version = '*',
    -- {{- if not .features.neovim_opencode }}
    enabled = false,
    -- {{- end }}
    dependencies = {
      {
        -- `snacks.nvim` integration is recommended, but optional
        ---@module "snacks" <- Loads `snacks.nvim` types for configuration intellisense
        'folke/snacks.nvim',
        optional = true,
        opts = {
          input = {}, -- Enhances `ask()`
          picker = { -- Enhances `select()`
            actions = {
              opencode_send = function(...)
                return require('opencode').snacks_picker_send(...)
              end,
            },
            win = {
              input = {
                keys = {
                  ['<a-a>'] = { 'opencode_send', mode = { 'n', 'i' } },
                },
              },
            },
          },
        },
      },
    },
    config = function()
      -- Required for `vim.g.opencode_opts.auto_reload`
      vim.opt.autoread = true

      -- Recommended/example keymaps
      -- stylua: ignore start
      vim.keymap.set({ "n", "x" }, "<leader>oa", function() require("opencode").ask("@this: ", { submit = true }) end,  { desc = "Ask about this" })
      vim.keymap.set({ "n", "x" }, "<leader>o+", function() require("opencode").prompt("@this") end,                    { desc = "Add this" })
      vim.keymap.set({ "n", "x" }, "<leader>os", function() require("opencode").select() end,                           { desc = "Select prompt" })

      vim.keymap.set("n", "<leader>oc", function() require("opencode").command("agent.cycle") end,                      { desc = "Cycle agent" })
      vim.keymap.set("n", "<leader>on", function() require("opencode").command("session.new") end,                      { desc = "New session" })
      vim.keymap.set("n", "<leader>oi", function() require("opencode").command("session.interrupt") end,                { desc = "Interrupt session" })

      vim.keymap.set("n", "<S-C-u>", function() require("opencode").command("session.half.page.up") end,                { desc = "Scroll opencode up" })
      vim.keymap.set("n", "<S-C-d>", function() require("opencode").command("session.half.page.down") end,              { desc = "Scroll opencode down" })
      -- stylua: ignore end
    end,
  },
}
