-- vi: filetype=lua
{{- if .neovim_nightly_native_lsp }}
require("tap.plugins.lspconfig")
require("tap.plugins.completion-nvim")
{{- end }}

require("tap.plugins.gitsigns")
require("tap.plugins.telescope")
require("tap.plugins.treesitter")
